<main class="w-full h-[90%] font-Flippinfont ">

    @if (section === 0) {
    <app-level-info (btnsEvent)="btnsNavegation($event)" [data]="sections[section]"></app-level-info>
    }@else {
        <section class="flex flex-col justify-center h-full w-full items-center ">
            <div class="container_border h-full w-full max-w-7xl">
                <div class="container_border_content relative h-full flex flex-col gap-6 justify-between items-center px-16">


            <h3 class="text-center font-bold text-4xl text-red-800">MUEVE EL OBJETO CORRECTO</h3>
            
            <section id="html5-drag" class="move-boxes " >  
                
                <div class="relative">
                    
                    <button id="play-video" class="video-play-button opacity-20 absolute -bottom-6 -z-10 select-none" >
                        <span></span>
                    </button>


                    <article (click)="handlePlay()" id="dropIt" class="z-10" (dragenter)="dragEnter($event)" (drop)="dragDrop($event)" (dragover)="dragOver($event)">
                    </article>
                </div>
                
                <p class="opacity-50 mt-4"><i>Toca una caja para escuchar</i></p>

                <article id="holder" (dragenter)="dragEnter($event)" (drop)="dragDrop($event)" (dragover)="dragOver($event)">
                    <div (click)="handlePlay('pulpo')" class="drag" id="boxA" draggable="true" (dragstart)="dragStart($event)"><img src="assets/images/box.svg" alt=""></div>
                    <div (click)="handlePlay('mapa')" class="drag"  id="boxB" draggable="true" (dragstart)="dragStart($event)"><img src="assets/images/box.svg" alt=""></div>
                    <div (click)="handlePlay('pollo')" class="drag" id="boxC" draggable="true" (dragstart)="dragStart($event)"><img src="assets/images/box.svg" alt=""></div>
                    <div (click)="handlePlay('puma')" class="drag"  id="boxD" draggable="true" (dragstart)="dragStart($event)"><img src="assets/images/box.svg" alt=""></div>
                </article>
            </section>

        </div>
        </div>

        <div class="flex gap-8 m-4">
            <btn-img (eventClick)="btnsNavegation('previous')" [title]="'Volver'"  [type]="'orange'" [imgPath]="'assets/images/arrow-back.svg'" />
            @if(isCompleted){
                <btn-img (eventClick)="btnsNavegation('endNext')" [title]="'Siguiente'"  [type]="'orange'" [imgPath]="'assets/images/arrow.svg'" 
                class="animate-wiggle"/>
            }
        </div>
    </section>
    }
</main>


<audio class="hidden" src="assets/audios/fonema_pulpo.mp3" #audio_pulpo></audio>
<audio class="hidden" src="assets/audios/fonema_mapa.mp3" #audio_mapa></audio>
<audio class="hidden" src="assets/audios/fonema_pollo.mp3" #audio_pollo></audio>
<audio class="hidden" src="assets/audios/fonema_puma.mp3" #audio_puma></audio>