.move-boxes {
    margin: 0 auto;
}

.move-boxes h2 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.move-boxes h2 span {
    color: #e56a5a;
}

.move-boxes .drag img {
    height: 95px;
    width: 95px;
}
.move-boxes .drag {
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    -ms-transition: background-color 0.25s ease-in;
    -o-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.move-boxes .drag:last-of-type {
    margin-right: 5px;
}

.move-boxes .drag:hover {
    background-color: #f94b3473;
}

#dropIt {
    background: #5eced221;
    border: dashed 3px #6e41338c;
    border-radius: 5px;
    margin: 0 auto;
    padding-top: 5px;
    width: 110px;
    height: 110px;
}

#holder {
    border-radius: 5px;
    margin: 0 auto;
    padding-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.3rem;
    justify-content: center;
}