<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
  <!-- Header -->
  <app-nft-header></app-nft-header>
  <!-- end Header -->
   
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">
    <div app-multi-chart [data]="completF" class="md:col-span-2"></div>
    <div app-multi-chart [data]="repetsF" class="md:col-span-2"></div>
    
    <div app-pie-chart [data]="precision" class="md:col-span-2"></div>
    
    <div app-multi-chart [data]="precisionVS" class="md:col-span-2"></div>

    <!-- <div nft-dual-card [nft]="nft[0]" class="md:col-span-2"></div> -->
    <!-- <div nft-single-card [nft]="nft[1]"></div> -->
    <!-- <div nft-chart-card class="md:col-span-2 xl:col-span-1"></div> -->
    
    <div nft-auctions-table class="md:col-span-4 xl:col-span-4 w-full"></div>
  </div>
</div>
