<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
  <!-- Header -->
  <div id="header-dashboard" class="flex space-x-4 mx-2">
    <!-- Columna 1 -->
    <div class="flex-1">
      <app-nft-header></app-nft-header>
    </div>
    
    <!-- Columna 2 -->
    <div class="flex-2">
      <app-user-modal [data]="tableModal"></app-user-modal>
    </div>
  </div>
  <!-- End Header -->

  <!-- Menu de Filtros -->
  <div class="flex flex-wrap justify-start gap-2 my-4">
    <button 
      class="button-green"
      *ngFor="let filter of filterOptions" 
      class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none" 
      [class.bg-gray-500]="!filter.active" 
      [class.text-gray-200]="!filter.active"
      (click)="toggleFilter(filter.key)">
      {{ filter.label }}
    </button>
    <button 
      class="button-red"
      class="px-6 py-2 bg-green-500 text-white rounded hover:bg-green-600 focus:outline-none"
      (click)="generateExcel()">
      Generar Excel
    </button>
    <div *ngIf="selectedUser" class="mb-0">
      <button 
        (click)="clearSelectedUser()" 
        class="px-2 py-2 bg-red-500 text-white rounded hover:bg-red-600">
        Deseleccionar usuario {{ selectedUser.user_name }}
      </button>
    </div>
    
  </div>
  <!-- End Menu de Filtros -->

  <!-- Contenido -->
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">
    <!-- Gráficos -->
    <div *ngFor="let chart of filteredChartsData" [attr.id]="chart.key" class="md:col-span-2">
      <div app-multi-chart [data]="chart.data"></div>
    </div>

    <!-- Mapa -->
    <div *ngIf="isMapVisible" class="md:col-span-4 xl:col-span-4 w-full">
      <app-map [data]="points"></app-map>
    </div>

    <!-- Tabla -->
    <div nft-auctions-table
      *ngIf="isTableVisible" 
      class="md:col-span-4 xl:col-span-4 w-full" 
      [data]="table" 
      [isAssignUser]="false" 
      [isUnAssignUser]="true"
      [isIslandManager]="false"
      (userSelected)="onUserSelected($event)">
    </div>
    
  </div>
</div>
