<main class="w-full h-full">
    <header> {{levelStructure?.isl_lev_str_id}}</header>
    <section class="flex flex-wrap justify-center gap-10 h-full w-full items-center">
        
        <div class="backdrop-blur-sm border-slate-500 border-2 rounded-2xl bg-white/35 h-4/5 w-4/12">
            <img src="assets/images/character.svg" alt="" srcset="" class="h-full m-auto pt-14">
        </div>

        <div class="backdrop-blur-sm border-slate-500 border-2 rounded-2xl bg-white/35 h-4/5 w-4/12
        flex flex-col gap-6  justify-center items-center px-16
        ">
            <h3 class="text-center font-bold text-4xl text-red-800">VAMOS A ESCUCHAR SONIDOS DE LA LETRA P</h3>
            <p class="text-2xl ">El sonido de la letra p es igual cuando escuchamos reventar un globo.</p>
            <app-button class="" impact="none" tone="primary" shape="rounded" size="small">
                Siguiente
            </app-button>
        </div>

    </section>
</main>

