<td class="py-2 pr-2">
  <div class="flex items-center">
    <!--<img [src]="auction.users_image" class="mr-2 h-10 w-10 flex-none rounded-sm" alt="" />-->
    <svg-icon [src]="this.getImage()" [svgClass]="'h-5 w-5'"> </svg-icon>
    <div class="flex flex-col justify-items-start">
      <a href="#" class="mb-1 text-sm font-semibold text-foreground">{{ auction.user_name }}</a>
      <span class="text-xs font-semibold text-muted-foreground/50">{{ auction.other }}</span>
    </div>
  </div>
</td>
<td class="py-2 pl-2 text-right">
  <span class="text-sm font-semibold text-muted-foreground">{{ this.auction.identification }}</span>
</td>
<td class="py-2 pl-2 text-right">
  <span class="text-sm font-semibold text-muted-foreground">{{ this.getGenderText() }}</span>
</td>
<td class="py-2 pl-2 text-right">
  <span class="text-sm font-semibold text-muted-foreground">{{ auction.age }}</span>
</td>
<td class="py-2 pl-2 text-right">
  <span class="text-sm font-semibold text-muted-foreground">{{ auction.condition }}</span>
</td>
<!-- Botón de asignación -->
<td class="py-3 text-right" *ngIf="isAssignUser == true">
  <button (click)="assignPatient(auction.user_id)" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">
    Asignar Paciente
  </button>
</td>
<!-- Botón de desasignación -->
<td class="py-3 text-right" *ngIf="isUnAssignUser == true">
  <button (click)="unassignPatient(auction.user_id)" class="px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600">
    Desasignar Paciente
  </button>
</td>
