<div class="background-container h-screen w-screen ">
    <div class="relative z-10 h-full m-0 p-0">
        <app-header></app-header>
        <router-outlet></router-outlet>
    </div>
    
    <!-- img button -->
    <div class="absolute flex justify-center w-screen bottom-0 z-0 overflow-hidden">
        <img class="w-full min-w-[1300px]" [src]="'assets/images/isla1_bottom.svg'" alt="">
    </div>
    <!-- Clouds -->
    <div class="fixed top-0 z-0 w-screen overflow-hidden">
        <img class="w-full min-w-[1300px]" src="assets/images/clouds.svg" alt="">
    </div>
</div>