<div class="h-screen w-screen overflow-hidden  bg-cyan-300">

    <div
        class="flex box-content overflow-y-hidden overflow-x-scroll static bg-gradient-to-b from-cyan-300 via-teal-200 to-emerald-400 m-0 p-0">

        <div class="relative flex-shrink-0 w-screen h-dvh">
            <div class="absolute z-10 flex justify-center items-center w-screen h-full">
                <div class="h-full w-full relative isla">
                    <app-header></app-header>
                    <router-outlet></router-outlet>
                </div>
            </div>
            <div class="absolute flex justify-center w-screen bottom-0 z-0 overflow-hidden">
                <img class="w-full min-w-[1300px]" [src]="'assets/images/isla'+levelStructure?.isl_id+'_bottom.svg'"
                    alt="">
            </div>
        </div>

    </div>

    <!-- Clouds -->
    <div class="fixed top-0 z-0 w-screen overflow-hidden">
        <img class="w-full min-w-[1300px]" src="assets/images/clouds.svg" alt="">
    </div>


</div>