.spinner {
    width: 9rem;
    height: 9rem;
    position: relative;
  }
  .spinner circle {
    fill: none;
    stroke-linecap: butt;
    stroke-width: var(--stroke-width, 3);
  }
  .spinner .ring {
    stroke: #000;
    opacity: 0.1;
  }
  .spinner .line {
    stroke: #0ebeff;
    stroke-width: 3;
    stroke-dasharray: var(--stroke-dasharray);
    stroke-dashoffset: var(--stroke-dashoffset);
    -webkit-animation: 943ms spinner-rotate linear infinite;
            animation: 943ms spinner-rotate linear infinite;
  }
  .spinner .text {
    font-size: 0.6rem;
    font-weight: 300;
    fill: rgba(0, 0, 0, 0.4);
  }

  .game-area {
    position: relative;
    width: 600px;
    height: 500px;
    border: 3px solid #333;
    margin: 20px auto;
    background-color: #fff;
    overflow: hidden;
  }
  .bomb {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: cover;
    cursor: pointer;
    animation: fall 4s linear;
    transition: opacity 0.5s ease; /* Efecto de desvanecimiento */
  }
  .bomb.hidden {
    opacity: 0; /* Desvanecer antes de eliminar */
  }
  @keyframes fall {
    0% { top: 0; }
    100% { top: 450px; } /* Cae hasta la parte inferior del área de juego */
  }
  .score {
    margin: 10px;
    font-size: 24px;
  }
  .result {
    font-size: 20px;
    margin-top: 20px;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  