<div class="h-dvh w-screen overflow-hidden">

    <btn-img routerLink="/games" [title]="'Inicio'"  [type]="'green'" [imgPath]="'assets/images/home/home.svg'" class="w-40 block absolute top-4 left-4 z-50"/>
    <btn-img (eventClick)="logoup()" [title]="'Cerrar sesión'"  [type]="'orange'" [imgPath]="'assets/icons/heroicons/outline/logout.svg'" class="w-40 break-keep absolute top-20 left-4 z-50"/>

    <div class="absolute top-0 left-[46%] text-white text-2xl flex gap-2 p-4 z-20">
        <btn-img [title]="''" [type]="'green'" [imgPath]="'assets/images/arrow-back.svg'" class="w-8 block mr-2" (eventClick)="scrollIsland(-1)"/>
        <div class="font-Flippinfont drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">
            {{islad}}
        </div>
        <btn-img [title]="''" [type]="'green'" [imgPath]="'assets/images/arrow.svg'" class="w-8 block"            (eventClick)="scrollIsland(1)"/>
    </div>

    <div class="scrollable pt-4 background-container select-none flex box-content overflow-y-hidden overflow-x-scroll static m-0 p-0"
        #scrollableElement (scroll)="onScroll()"
    >

        <!-- ISLA 0 -->
        <div class="relative flex-shrink-0 w-screen h-dvh pointer-events-none" >
            <div class="absolute z-10 flex justify-center items-center w-screen h-full">
                <div class="h-full relative isla">
                    <img class="h-full min-w-[580px] -ml-12 -mt-28 sm:-mt-0 sm:-ml-0" src="assets/images/isla0/yate.svg" alt="">
                    
                    <div class="absolute bottom-[52%] left-[23%] w-14 h-14 z-50">
                        <app-btn-level  class="h-full pointer-events-auto" [data]="btns[2]" (_handleClick)="handleBtnLevel($event)"/>
                    </div>
                    <div class="absolute bottom-[74%] xl:bottom-[40%] left-[63.5%] w-14 h-14">
                        <app-btn-level  class="h-full pointer-events-auto" [data]="btns[3]" (_handleClick)="handleBtnLevel($event)"/>
                    </div>
                    
                </div>
            </div>
            
            <div class="absolute z-10 left-36 bottom-56 xl:left-96 xl:bottom-44">
                <div class="absolute bottom-28 left-[40.5%] w-14 h-14">
                    <app-btn-level  class="h-full pointer-events-auto" [data]="btns[1]" (_handleClick)="handleBtnLevel($event)"/>
                </div>
                <img class="w-full max-w-[180px]" src="assets/images/isla0/rock.svg"  alt="">
            </div>

            <div class="absolute flex justify-start w-screen bottom-0  overflow-hidden z-30 select-none pointer-events-none">
                <div class="relative w-full">
                    <div class="absolute bottom-32 left-64 w-14 h-14 z-30 ">
                        <app-btn-level  class="h-full pointer-events-auto" [data]="btns[0]" (_handleClick)="handleBtnLevel($event)"/>
                    </div>
                    <img class="w-full max-w-[580px] relative z-0"  src="assets/images/isla0/isla0_bottom.svg"  alt="">
                </div>
            </div>

        </div>

        <!-- ISLA 1 -->
        <div class="relative flex-shrink-0 w-screen h-dvh">

            <div class="absolute z-10 flex justify-center items-center w-screen h-full">
                
                <div class="h-full relative isla">
                    <img class="h-full " src="assets/images/isla1.svg" alt="">

                    <div class="absolute bottom-[22%] left-[19%] w-14 h-14 levelBtn1">
                        <app-btn-level  class="h-full" [data]="btns[4]" (_handleClick)="handleBtnLevel($event)"/>
                    </div>
                    <div class="absolute bottom-[35%] left-[41%] w-14 h-14 levelBtn2">
                        <app-btn-level  class="h-full" [data]="btns[5]" (_handleClick)="handleBtnLevel($event)"/>
                    </div>
                    <div class="absolute bottom-[46%] left-[33%] w-14 h-14 ">
                        <app-btn-level  class="h-full" [data]="btns[6]" (_handleClick)="handleBtnLevel($event)"/>
                    </div>
                    <div class="absolute bottom-[63%] left-[46%] w-14 h-14 ">
                        <app-btn-level  class="h-full" [data]="btns[7]" (_handleClick)="handleBtnLevel($event)"/>
                    </div>
                    <!-- <div class="absolute bottom-[70%] left-[36%] w-14 h-14 ">
                        <app-btn-level  class="h-full" [data]="btns[8]" (_handleClick)="handleBtnLevel($event)"/>
                    </div> -->
                </div>
            </div>

            <div class="absolute flex justify-center w-screen bottom-0 z-0 overflow-hidden">
                <img class="w-full min-w-[1300px]" src="assets/images/isla1_bottom.svg" alt="">
            </div>

        </div>

        <!-- ISLA 2 -->
        <div class="relative flex-shrink-0 w-screen h-dvh">
            <div class="absolute z-10 flex justify-center items-center w-screen h-full">
                <div class="h-full relative isla">
                    <img class="h-full " src="assets/images/isla2.svg" alt="">

                    <div class="absolute bottom-[22%] left-[19%] w-14 h-14 levelBtn1">
                        <app-btn-level  class="h-full" [data]="btns[8]" (_handleClick)="handleBtnLevel($event)"/>
                    </div>
                    <div class="absolute bottom-[32%] left-[38%] w-14 h-14 levelBtn2">
                        <app-btn-level  class="h-full" [data]="btns[9]" (_handleClick)="handleBtnLevel($event)"/>
                    </div>
                    <div class="absolute bottom-[47%] left-[50%] w-14 h-14 ">
                        <app-btn-level  class="h-full" [data]="btns[10]" (_handleClick)="handleBtnLevel($event)"/>
                    </div>
                    <div class="absolute bottom-[65%] left-[40%] w-14 h-14 ">
                        <app-btn-level  class="h-full" [data]="btns[11]" (_handleClick)="handleBtnLevel($event)"/>
                    </div>
                    <!-- <div class="absolute bottom-[72%] left-[45%] w-14 h-14 ">
                        <app-btn-level  class="h-full" [data]="btns[13]" (_handleClick)="handleBtnLevel($event)"/>
                    </div> -->
                </div>
            </div>
            <div class="absolute flex justify-center w-screen bottom-0 z-0 overflow-hidden">
                <img class="w-full min-w-[1300px]" src="assets/images/isla2_bottom.svg" alt="">
            </div>
        </div>

        <!-- ISLA 3 -->
        <div class="relative flex-shrink-0 w-screen h-dvh">
            <div class="absolute z-10 flex justify-center items-center w-screen h-full">
                <div class="h-full relative isla">
                    <img class="h-full " src="assets/images/isla3.svg" alt="">

                    <div class="absolute bottom-[25%] left-[15%] w-14 h-14 levelBtn1">
                        <app-btn-level  class="h-full" [data]="btns[12]" (_handleClick)="handleBtnLevel($event)"/>
                    </div>
                    <!-- <div class="absolute bottom-[79%] left-[39%] w-14 h-14 ">
                        <app-btn-level  class="h-full" [data]="btns[18]" (_handleClick)="handleBtnLevel($event)"/>
                    </div> -->
                </div>
            </div>
            <div class="absolute flex justify-center w-screen bottom-0 z-0 overflow-hidden">
                <img class="w-full min-w-[1300px]" src="assets/images/isla3_bottom.svg" alt="">
            </div>
        </div>

    </div>

    <!-- Clouds -->
    <div class="fixed top-0 z-0 w-screen overflow-hidden">
        <img class="w-full min-w-[1300px]" src="assets/images/clouds.svg" alt="">
    </div>


</div>