:host{
    cursor: url('/assets/cursors/use74.cur'), auto;
}
@media (max-width: 845px) {
    
    .isla{
        height: auto !important;
        width: 100%;
    }
    .isla img {
        width: 100%;
    }
}

.background-container{
    background: linear-gradient(180deg, #B2EBEC 41.5%, #6AD8E7 45.5%, #2E87C8 100%);
}