@if(isCompleted){<app-conffety />}

<main class="w-full h-[90%] font-Flippinfont ">
    @if (section === 0) {
    <app-level-info (btnsEvent)="btnsNavegation($event)" [data]="sections[section]"></app-level-info>
    }@else {
    <section class="flex flex-col justify-center h-full w-full items-center ">
        <div class="container_border h-full w-full ">
            <div class="container_border_content relative h-full flex flex-col gap-6 justify-between items-center ">
                
                @if (!isRuning) {
                    <div class="absolute animate-fade-in-up m-8 w-full max-w-full h-[80%] backdrop-blur-md border-4 border-dashed border-white/20 rounded-3xl bg-white/20 flex items-center z-30 flex-col p-10 gap-4">
                        <iframe width="760" height="315" class="h-full max-w-full max-h-full object-contain block" src="https://www.youtube.com/embed/dWMg6GeC304?si=d1uZLLqaYBUVKpgn&amp;start=0&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <btn-img class="w-fit block blur-none text-4xl absolute {{isCompleted?'top-0':'bottom-0'}}" (eventClick)="play()" [title]="isCompleted?'Volver a jugar':'Jugar'"
                        [type]="'orange'" [imgPath]="'assets/images/play.svg'" />
                    </div>
                }

                <div class="w-full flex flex-row flex-wrap justify-center gap-5	h-full">
                    <div class="flex flex-col h-full w-full max-w-lg items-center ">
                        <div class="relative  w-full h-full overflow-hidden select-none">
                            <div class="relative w-full h-full -top-4 " #containerIMG>
                                @for (resource of itemsResources; track resource.id; let index = $index) {
                                    <div (click)="handleClick(index)" 
                                    [style]="'top:' + resource.top+'%; left:'+resource.left+'%'"

                                    class=" bg-[url('/assets/images/cloud.svg')] absolute  bg-contain bg-no-repeat bg-bottom w-44 min-h-12 flex justify-center items-center">

                                        <img [src]="resource.img" alt="" class="{{resource.completed?'invisible':''}} w-16">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="flex gap-8 m-4">
            <btn-img (eventClick)="btnsNavegation('previous')" [title]="'Volver'"  [type]="'orange'" [imgPath]="'assets/images/arrow-back.svg'" />
            @if(section < sectionsGame && isCompleted){
                <btn-img (eventClick)="btnsNavegation('next')" [title]="'Siguiente'"  [type]="'green'" [imgPath]="'assets/images/arrow.svg'" 
                class="animate-wiggle"/>
            }
            @if(section == sectionsGame && isCompleted){
                <btn-img (eventClick)="btnsNavegation('endNext')" [title]="'Siguiente Nivel'"  [type]="'green'" [imgPath]="'assets/images/arrow.svg'" 
                class="animate-wiggle"/>
            }
        </div>

    </section>
    }
</main>

<audio class="hidden" id="audio"  [src]="audio"></audio>
<audio class="hidden" id="audioAux"  [src]="audioAux"></audio>