@if(isCompleted){<app-conffety />}

<main class="w-full h-[88%] font-Flippinfont ">
    @if (section === 0) {
    <app-level-info (btnsEvent)="btnsNavegation($event)" [data]="sections[section]"></app-level-info>
    }@else {
    <section class="flex flex-col justify-center h-full w-full items-center ">
        <div class="container_border h-full w-full max-w-7xl">
            <div class="container_border_content relative h-full flex flex-col gap-6 justify-between items-center">
                
                @if (!isRuning) {
                    <div class="absolute animate-fade-in-up m-8 w-full max-w-full h-[80%] backdrop-blur-md border-4 border-dashed border-white/20 rounded-3xl bg-white/20 flex items-center z-30 flex-col p-10 gap-4">
                        <iframe width="760" height="315" class="h-full max-w-full max-h-full object-contain block" src="https://www.youtube.com/embed/-N2CsTZ_UDg?si=sFDZtXtdbipl73PI&amp;start=0&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <btn-img class="w-fit block blur-none text-4xl absolute {{isCompleted?'top-0':'bottom-0'}}" (eventClick)="play()" [title]="isCompleted?'Volver a jugar':'Jugar'"
                        [type]="'orange'" [imgPath]="'assets/images/play.svg'" />
                    </div>
                }

                <div class="relative w-full h-full flex flex-col justify-around items-center">

                    <div id="startDrag" class="hover:brightness-125 border-cyan-200 border-4 w-36 h-36 rounded-full bg-cyan-500 flex justify-center items-center p-4">
                        <!-- Imagen mover -->
                        <img 
                          *ngFor="let item of itemsResources; let i = index" 
                          [src]="item.img"
                          class="w-full h-auto drag cursor-pointer" 
                          (click)="onAudioEnded()" 
                          (dragstart)="dragStart($event)" 
                          [hidden]="itemsResourcesPos !== i" 
                          id="box{{i}}" 
                          draggable="true">
                    </div>

                    <div class="h-fit relative w-full flex justify-center items-center gap-8">
                        <!-- Caja 1 -->
                        <div (click)="handleClickBox(0)" class="boxDrop w-36 h-36 bg-[url(/assets/images/isla2/caja.png)] bg-cover hover:brightness-125"
                            (dragenter)="dragEnter($event)" (drop)="dragDrop($event, 'boxA')"
                            (dragover)="dragOver($event)">

                            <div class="arrow-container select-none pointer-events-none w-full h-full">
                                <div class="arrow-down w-full h-full"></div>
                            </div>

                            <div class="w-full text-center text-cyan-50 text-4xl -mt-10">{{itemsResources[itemsResourcesPos].l}}</div>
                        </div>

                        <!-- Caja 2 -->
                        <div (click)="handleClickBox(1)" class="boxDrop w-36 h-36 bg-[url(/assets/images/isla2/caja.png)] bg-cover hover:brightness-125"
                            (dragenter)="dragEnter($event)" (drop)="dragDrop($event, 'boxB')"
                            (dragover)="dragOver($event)">

                            <div class="arrow-container select-none pointer-events-none w-full h-full">
                                <div class="arrow-down w-full h-full"></div>
                            </div>

                            <div class="w-full text-center text-cyan-50 text-4xl -mt-10">{{itemsResources[itemsResourcesPos].r}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex gap-8 m-4">
            <btn-img (eventClick)="btnsNavegation('previous')" [title]="'Volver'"  [type]="'orange'" [imgPath]="'assets/images/arrow-back.svg'" />
            @if(section < 1 && isCompleted){
                <btn-img (eventClick)="btnsNavegation('next')" [title]="'Siguiente'"  [type]="'green'" [imgPath]="'assets/images/arrow.svg'" 
                class="animate-wiggle"/>
            }
            @if(section == 1 && isCompleted){
                <btn-img (eventClick)="btnsNavegation('endNext')" [title]="'Siguiente Nivel'"  [type]="'green'" [imgPath]="'assets/images/arrow.svg'" 
                class="animate-wiggle"/>
            }
        </div>

    </section>
    }
</main>

<audio class="hidden" id="audioMultiple" (ended)="onAudioEnded()" [src]="audioMultiple"></audio>
<audio class="hidden" id="audio" [src]="audio"></audio>
<audio class="hidden" id="audioAux"  [src]="audioAux"></audio>