@if(isCompleted){<app-conffety />}

<main class="w-full h-[88%] font-Flippinfont ">
    @if (section === 0) {
    <app-level-info (btnsEvent)="btnsNavegation($event)" [data]="sections[section]"></app-level-info>
    }@else {
    <section class="flex flex-col justify-center h-full w-full items-center ">
        <div class="container_border h-full w-full max-w-7xl">
            <div class="container_border_content relative h-full flex flex-col gap-6 justify-between items-center">
                
                @if (!isRuning) {
                    <div class="absolute animate-fade-in-up m-8 w-full max-w-full h-[80%] backdrop-blur-md border-4 border-dashed border-white/20 rounded-3xl bg-white/20 flex items-center z-30 flex-col p-10 gap-4">
                        <btn-img class="w-fit block blur-none text-4xl mt-5" (eventClick)="autoplay=true" title="Ver explicación" [type]="'orange'" [imgPath]="'assets/images/play.svg'" />
                        @if (autoplay) {
                            <iframe width="760" height="315" class="h-full max-w-full max-h-full object-contain block" src="https://www.youtube.com/embed/-N2CsTZ_UDg?si=sFDZtXtdbipl73PI&amp;start=0&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        }
                        <btn-img class="mb-2 w-fit block blur-none text-4xl absolute {{isCompleted?'top-0':'bottom-0'}}" (eventClick)="play()" [title]="isCompleted?'Volver a jugar':'Jugar'"
                        [type]="'orange'" [imgPath]="'assets/images/play.svg'" />
                    </div>
                }

                <div class="relative w-full h-full flex flex-col items-center justify-end">
                    
                    @for (item of itemsResources; track $index) {
                        <!-- Imagen globo -->
                        <a  class="drag {{itemsResourcesPos !== $index? 'none': 'flex'}} 
                            items-center justify-center hover:brightness-125 bg-[url(/assets/images/isla2/globo-plano.svg)] bg-no-repeat bg-contain 
                            h-52 w-32 absolute top-5 2xl:top-20 bg-center cursor-pointer z-20"
                            id="box{{$index}}"
                            [ngStyle]="{
                                transform: 'translate(' + position.x + 'px, ' + position.y + 'px)', zIndex: 20
                              }"
                            [hidden]="itemsResourcesPos !== $index"
                            (touchstart)="startTouch($event)"
                            (touchmove)="moveTouch($event)"
                            (touchend)="endTouch($event)"

                            (mousedown)="startDrag($event)"
                        >
                            <img [src]="item.img" class=" w-[calc(100%-3.1rem)] -mt-10 opacity-70 pointer-events-none select-none" alt="">
                        </a>
                    }

                    <div class="container-drops h-fit relative z-0 w-full flex justify-center items-center gap-8 mb-8 2xl:mb-20">
                        @if(explosion){
                            <div class="absolute top-0 left-0 h-56 w-56">
                                <app-conffety />
                            </div>
                        }

                        <!-- Caja 1 -->
                        <a (click)="handleClickBox(0)" class="boxDrop hover:brightness-125 relative select-none">
                            <div class="animate-bounce absolute top-0 left-[42%]"><img src="/assets/images/arrow.svg" alt="" style="rotate: 90deg;" class="w-7 h-7"></div>
                            <img #boxA src="/assets/images/isla2/caja.png" alt="" class="boxDrop w-36 h-36">
                            <div class="w-full text-center text-cyan-50 text-4xl ">{{itemsResources[itemsResourcesPos].l}}</div>
                        </a>
                        <!-- Caja 2 -->
                        <a (click)="handleClickBox(1)" class="boxDrop hover:brightness-125 relative select-none">
                            <div class="animate-bounce absolute top-0 left-[42%]"><img src="/assets/images/arrow.svg" alt="" style="rotate: 90deg;" class="w-7 h-7"></div>
                            <img #boxB src="/assets/images/isla2/caja.png" alt="" class="boxDrop w-36 h-36">
                            <div class="w-full text-center text-cyan-50 text-4xl">{{itemsResources[itemsResourcesPos].r}}</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex gap-8 m-4">
            <btn-img (eventClick)="btnsNavegation('previous')" [title]="'Volver'"  [type]="'orange'" [imgPath]="'assets/images/arrow-back.svg'" />
            @if(section < 1 && isCompleted){
                <btn-img (eventClick)="btnsNavegation('next')" [title]="'Siguiente'"  [type]="'green'" [imgPath]="'assets/images/arrow.svg'" 
                class="animate-wiggle"/>
            }
            @if(section == 1 && isCompleted){
                <btn-img (eventClick)="btnsNavegation('endNext')" [title]="'Siguiente Nivel'"  [type]="'green'" [imgPath]="'assets/images/arrow.svg'" 
                class="animate-wiggle"/>
            }
        </div>

    </section>
    }
</main>

<audio class="hidden" id="audioMultiple" (ended)="onAudioEnded()" [src]="audioMultiple"></audio>
<audio class="hidden" id="audio" [src]="audio"></audio>
<audio class="hidden" id="audioAux"  [src]="audioAux"></audio>