<!--<p>Congratulations! Your app is running. 🎉</p>
<div class="bg-midnight" style="text-align:center">
  <apx-chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [xaxis]="chartOptions.xaxis!"
    [title]="chartOptions.title!"
  ></apx-chart>
</div>
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary" class="text-green">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
</div>-->
<div>
  <!--<iframe frameborder="0" src="https://itch.io/embed-upload/11082671?color=333333" allowfullscreen="" width="640" height="380"><a href="https://m-f-silva2.itch.io/test">Play test on itch.io</a></iframe>-->
  <!--<app-text-to-audio></app-text-to-audio>-->
</div>

<div>
  <router-outlet></router-outlet>
</div>
<div>
  <!--<app-text-to-audio></app-text-to-audio>-->
</div>
@if (_toastService.toast()) {<toast [data]="_toastService.toast()"></toast>} 