<main class="w-full h-[90%] font-Flippinfont ">

    @if (section === 0) {
    <app-level-info (btnsEvent)="btnsNavegation($event)" [data]="sections[section]"></app-level-info>
    }@else {
        <section class="flex flex-col justify-center h-full w-full items-center ">
            <div class="container_border h-full w-full max-w-7xl">
                <div class="container_border_content relative h-full flex flex-col gap-6 justify-between items-center px-16">


            <h3 class="text-center font-bold text-4xl text-red-800">RECORDAR SECUENCIA DE SONIDOS</h3>
            <div>
                <p>Reproducir sonido</p>
                <button id="play-video" class="video-play-button" (click)="handlePlay()">
                    <span></span>
                </button>
            </div>

            <div class="grid grid-cols-3 grid-rows-3 bg-yellow-800/60 rounded-3xl border-yellow-950 border-2 p-4 gap-1">
                <div class="w-20 h-20 bg-orange-300 rounded-2xl p-3" (click)="handlePlay('pie')">
                    <div class="rounded-full border-4 border-orange-800 bg-orange-500 aspect-1 relative">
                        <div class="rounded-xl w-3/4 h-2 bg-white -rotate-45 absolute bottom-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
                        <div class="rounded-xl w-3/4 h-2 bg-white rotate-45 absolute bottom-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
                    </div>
                </div>
                <div class="w-20 h-20 bg-blue-500 rounded-2xl p-3" (click)="handlePlay('pelo')">
                    <div class="rounded-full border-4 border-lime-800 bg-lime-500 aspect-1 relative">
                        <div class="rounded-xl w-3/4 h-2 bg-white -rotate-45 absolute bottom-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
                        <div class="rounded-xl w-3/4 h-2 bg-white rotate-45 absolute bottom-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
                    </div>
                </div>
                <div class="w-20 h-20 bg-orange-300 rounded-2xl p-3" (click)="handlePlay('pino')">
                    <div class="rounded-full border-4 border-orange-600 bg-orange-500 aspect-1 relative">
                        <div class="rounded-xl w-3/4 h-2 bg-white -rotate-45 absolute bottom-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
                        <div class="rounded-xl w-3/4 h-2 bg-white rotate-45 absolute bottom-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
                    </div>
                </div>
                <div class="w-20 h-20 bg-blue-400 rounded-2xl p-3" (click)="handlePlay('pollo')">
                    <div class="rounded-full border-4 border-lime-800 bg-lime-500 aspect-1 relative">
                        <div class="rounded-xl w-3/4 h-2 bg-white -rotate-45 absolute bottom-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
                        <div class="rounded-xl w-3/4 h-2 bg-white rotate-45 absolute bottom-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
                    </div>
                </div>
                <div class="w-20 h-20 bg-lime-300 rounded-2xl p-3" (click)="handlePlay('pan')">
                    <div class="rounded-full border-4 border-orange-600 bg-orange-500 aspect-1 relative">
                        <div class="rounded-xl w-3/4 h-2 bg-white -rotate-45 absolute bottom-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
                        <div class="rounded-xl w-3/4 h-2 bg-white rotate-45 absolute bottom-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
                    </div>
                </div>
                <div class="w-20 h-20 bg-blue-500 rounded-2xl p-3" (click)="handlePlay('mapa')">
                    <div class="rounded-full border-4 border-lime-800 bg-lime-500 aspect-1 relative">
                        <div class="rounded-xl w-3/4 h-2 bg-white -rotate-45 absolute bottom-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
                        <div class="rounded-xl w-3/4 h-2 bg-white rotate-45 absolute bottom-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
                    </div>
                </div>
                <div class="w-20 h-20 bg-blue-300 rounded-2xl p-3" (click)="handlePlay('papa')">
                    <div class="rounded-full border-4 border-lime-800 bg-lime-500 aspect-1 relative">
                        <div class="rounded-xl w-3/4 h-2 bg-white -rotate-45 absolute bottom-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
                        <div class="rounded-xl w-3/4 h-2 bg-white rotate-45 absolute bottom-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
                    </div>
                </div>
                <div class="w-20 h-20 bg-orange-300 rounded-2xl p-3" (click)="handlePlay('a')">
                    <div class="rounded-full border-4 border-orange-800 bg-orange-500 aspect-1 relative">
                        <div class="rounded-xl w-3/4 h-2 bg-white -rotate-45 absolute bottom-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
                        <div class="rounded-xl w-3/4 h-2 bg-white rotate-45 absolute bottom-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
                    </div>
                </div>
                <div class="w-20 h-20 bg-blue-300 rounded-2xl p-3" (click)="handlePlay('i')">
                    <div class="rounded-full border-4 border-orange-900 bg-orange-500 aspect-1 relative">
                        <div class="rounded-xl w-3/4 h-2 bg-white -rotate-45 absolute bottom-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
                        <div class="rounded-xl w-3/4 h-2 bg-white rotate-45 absolute bottom-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
                    </div>
                </div>
            </div>
            
        </div>
        </div>

        <div class="flex gap-8 m-4">
            <btn-img (eventClick)="btnsNavegation('previous')" [title]="'Volver'"  [type]="'orange'" [imgPath]="'assets/images/arrow-back.svg'" />
            @if(isCompleted){
                <btn-img (eventClick)="btnsNavegation('endNext')" [title]="'Siguiente'"  [type]="'orange'" [imgPath]="'assets/images/arrow.svg'" 
                class="animate-wiggle"/>
            }
        </div>
    </section>
    }
</main>

<audio class="hidden" src="assets/audios/pie.mp3" #audio_pie></audio>
<audio class="hidden" src="assets/audios/pelo.mp3" #audio_pelo></audio>
<audio class="hidden" src="assets/audios/pino.mp3" #audio_pino></audio>
<audio class="hidden" src="assets/audios/pollo.mp3" #audio_pollo></audio>
<audio class="hidden" src="assets/audios/pan.mp3" #audio_pan></audio>
<audio class="hidden" src="assets/audios/mapa.mp3" #audio_mapa></audio>
<audio class="hidden" src="assets/audios/papa.mp3" #audio_papa></audio>
<audio class="hidden" src="assets/audios/fonema_a.mp3" #audio_a></audio>
<audio class="hidden" src="assets/audios/fonema_i.mp3" #audio_i></audio>