<main class="w-full h-[90%] font-Flippinfont ">
    @if (section === 0) {
    <app-level-info (btnsEvent)="btnsNavegation($event)" [data]="sections[section]"></app-level-info>
    }@else {
    <section class="flex flex-col justify-center h-full w-full items-center ">
        <div class="container_border h-full w-full max-w-7xl">
            <div
                class="container_border_content relative h-full flex flex-col gap-6 justify-between items-center px-16">

                <h3 class="text-center font-bold text-2xl text-red-800">TOCA LAS IMAGENES PARA ESCUCHAR EL SONIDO</h3>

                <div class="flex flex-col w-full h-full">
                    <div class="flex justify-end">
                        <button class="py-2 px-4 m-2 text-white bg-blue-500 rounded ">?</button>
                    </div>


                    <div
                        class="relative border-gray-600 border-dashed bg-cyan-300/50 border-2 w-full h-full overflow-hidden select-none">
                        <div class="relative w-full h-full" #containerIMG>
                            <img style="height: 120px;width: auto;" (click)="handleClick(0)"
                                class="img0 absolute top-[5%] left-[8%]" src="assets/images/isla0/abeja.png" alt=""
                                srcset="">
                            <img style="height: 120px;width: auto;"
                                [src]="isPlaying ? 'assets/images/isla0/globo.png' : 'assets/images/isla0/globo.gif'"
                                (click)="handleClick(1)" class="img1 absolute top-[10%] left-[70%]" alt="" srcset="" />
                            <!--<img (click)="handleClick(1)" class="img1 absolute top-[30%] left-[70%]" src="assets/images/isla0/globo.gif"     alt="" srcset="">-->
                            <img style="height: 120px;width: auto;" (click)="handleClick(2)"
                                class="img2 absolute top-[30%] left-[30%]" src="assets/images/isla0/serpiente.png"
                                alt="" srcset="">
                            <img style="height: 120px;width: auto;" (click)="handleClick(3)"
                                class="img3 absolute top-[60%] left-[60%]" src="assets/images/isla0/tren.png" alt=""
                                srcset="">
                            <img style="height: 120px;width: auto;" (click)="handleClick(4)"
                                class="img4 absolute top-[70%] left-[20%]" src="assets/images/isla0/vaca.png" alt=""
                                srcset="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex gap-8 m-4">
            <btn-img (eventClick)="btnsNavegation('previous')" [title]="'Volver'"  [type]="'orange'" [imgPath]="'assets/images/arrow-back.svg'" />
            @if(isCompleted){
                <btn-img (eventClick)="btnsNavegation('endNext')" [title]="'Siguiente'"  [type]="'orange'" [imgPath]="'assets/images/arrow.svg'" 
                class="animate-wiggle"/>
            }
        </div>
    </section>
    }
</main>
@for (audio of audios; track $index) {
<audio class="hidden" [id]="'audio'+$index" [src]="audio"></audio>
}