<body class="text-gray-200 antialiased bg-slate-800" style="font-family: 'Roboto', sans-serif">
    <section class="h-screen  relative">
        <div class="bg-cover bg-center bg-no-repeat bg-fixed
        before:content-[''] 
        before:absolute 
        before:bg-[linear-gradient(0deg,#000000ff,#00000055,#00000000,#00000000,#00000000,#00000000)]
        before:w-full
        before:h-full
        before:z-0
        h-full
        flex justify-end items-end
    " style="background-image: url(assets/images/home/home-header.webp)">
        </div>

        <div class="w-full flex justify-center  bg-slate-700/0 absolute bottom-28">
            <h2 class="text-6xl font-bold mb-2 drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.99)] w-fit border-b-4 border-cyan-500/70">Speak Check</h2>
            
            <!-- <a href="#login-section"
                class="bg-white inline-block text-slate-800 font-bold rounded-full py-4 px-8 shadow-lg upeprcase tracking-wider hover:border-transparent hover:text-blue-500 hover:bg-gray-800 transition-all">
                Ingresar
            </a> -->
        </div>
    </section>

    <!-- Features -->
    <section id="login-section" class="container mx-auto px-6 p-10">
        <h2 class="text-4xl font-bold text-center mt-24 mb-32">Ingresar</h2>
        <div class="cards flex flex-row w-full justify-around flex-wrap gap-24">

            <a href="./auth/sign-in?role=patient"
                class="block w-80 p-6 rounded-lg shadow bg-gray-700 border-gray-600 hover:bg-gray-600">
                <img class="-mt-20 xl:-ml-20 mb-6" src="assets/images/home/patient-login.webp" alt="" srcset="">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Jugar</h5>
                <p class="font-normal text-gray-400">Iniciar sesión y pon en practica los fonemas</p>
            </a>
            <!--
            <a href="./auth/sign-in?role=parent"
                class="block w-80 p-6 rounded-lg shadow bg-gray-700 border-gray-600 hover:bg-gray-600">
                <img class="-mt-20 -ml-20 mb-6" src="assets/images/home/parents-login.webp" alt="" srcset="">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Padres</h5>
                <p class="font-normal text-gray-400">Iniciar sesión para supervisar su progreso </p>
            </a>-->
            <a href="./auth/sign-in?role=professional"
                class="block w-80 p-6 rounded-lg shadow bg-gray-700 border-gray-600 hover:bg-gray-600">
                <img class="-mt-20 xl:-ml-20 mb-6" src="assets/images/home/professionals-login.webp" alt="" srcset="">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Profesional</h5>
                <p class="font-normal text-gray-400">Iniciar sesión como profesional de
                    fonoaudiología</p>
            </a>

        </div>
    </section>


    <footer class="bg-gray-900">
        <div class="container mx-auto px-6 pt-10 pb-6">
            <div class="flex flex-wrap text-yellow-50">
                Copyright © 2025
            </div>
        </div>
    </footer>
</body>