<body class="text-gray-200 antialiased bg-slate-800" style="font-family: 'Roboto', sans-serif">

    <!--Nav-->
    <!-- <nav class="flex items-center justify-between flex-wrap p-6">

        <div class="flex items-center flex-shrink-0 text-dark md:text-right mr-6">
            <span class="font-semibold text-xl tracking-tight hover:text-green-800"><a href="#">JC</a></span>
        </div>

        <div class="block lg:hidden">
            <button id="nav-toggle"
                class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-800 hover:border-teal-500 appearance-none focus:outline-none">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
            </button>
        </div>

        <div id="nav-content"
            class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block pt-6 lg:pt-0 md:text-right">
            <div class="text-sm lg:flex-grow">
                <a href="#responsive-header"
                    class="block mt-1 lg:inline-block lg:mt-0 text-dark-200 hover:text-teal-800 mr-4">Home</a>
                <a href="#responsive-header"
                    class="block mt-4 lg:inline-block lg:mt-0 text-dark-200 hover:text-teal-800 mr-4">About</a>
                <a href="#responsive-header"
                    class="block mt-4 lg:inline-block lg:mt-0 text-dark-200 hover:text-teal-800 mr-4">Contact</a>
            </div>
        </div>

    </nav> -->

    <!--Hero
    style="background: linear-gradient(90deg, #2b4554 0%, #767ba2 100%)"
    -->
    <section class="h-screen  relative">
        <div class="bg-cover bg-center bg-no-repeat bg-fixed
        before:content-[''] 
        before:absolute 
        before:bg-[linear-gradient(0deg,#000000ff,#00000055,#00000000,#00000000,#00000000,#00000000)]
        before:w-full
        before:h-full
        before:z-0
        h-full
        flex justify-end items-end
    " style="background-image: url(assets/images/home-header.webp)">
        </div>

        <div class="w-full text-center pl-20 bg-slate-700/0 absolute bottom-20">
            <h2 class="text-6xl font-bold mb-2 drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">Pronumtest</h2>
            <!-- <a href="#login-section"
                class="bg-white inline-block text-slate-800 font-bold rounded-full py-4 px-8 shadow-lg upeprcase tracking-wider hover:border-transparent hover:text-blue-500 hover:bg-gray-800 transition-all">
                Ingresar
            </a> -->
        </div>
    </section>

    <!-- Features -->
    <section id="login-section" class="container mx-auto px-6 p-10">
        <h2 class="text-4xl font-bold text-center mt-24 mb-32">Ingresar</h2>
        <div class="cards flex flex-row w-full justify-around flex-wrap gap-8">

            <a href="./auth/login?role=patient"
                class="block w-80 p-6 rounded-lg shadow bg-gray-700 border-gray-600 hover:bg-gray-600">
                <img class="-mt-20 -ml-20 mb-6" src="assets/images/patient-login.webp" alt="" srcset="">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Jugar</h5>
                <p class="font-normal text-gray-400">Iniciar sesión y pon en practica los fonemas</p>
            </a>
            <a href="./auth/login?role=parent"
                class="block w-80 p-6 rounded-lg shadow bg-gray-700 border-gray-600 hover:bg-gray-600">
                <img class="-mt-20 -ml-20 mb-6" src="assets/images/parents-login.webp" alt="" srcset="">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Padres</h5>
                <p class="font-normal text-gray-400">Iniciar sesión para supervisar su progreso </p>
            </a>
            <a href="./auth/login?role=professional"
                class="block w-80 p-6 rounded-lg shadow bg-gray-700 border-gray-600 hover:bg-gray-600">
                <img class="-mt-20 -ml-20 mb-6" src="assets/images/professionals-login.webp" alt="" srcset="">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Profesional</h5>
                <p class="font-normal text-gray-400">Iniciar sesión como profesional de
                    fonoaudiología</p>
            </a>

        </div>
    </section>


    <!-- <section class="container mx-auto px-6 p-10">
        <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">Artoo!</h2>
        <div class="flex items-center flex-wrap mb-20">
            <div class="w-full md:w-1/2 pr-10">
                <h4 class="text-3xl text-gray-800 font-bold mb-3">Vortex</h4>
                <p class="text-gray-600 mb-8">Their primary target will be the power generators. Prepare to open the
                    shield. Sir, Rebel ships are coming into our sector. Good. Our first catch of the day. Stand by, ion
                    control....bFire! The first transport is away.</p>
            </div>
            <div class="w-full md:w-1/2">
                <img class="rounded-lg" src="https://pbs.twimg.com/media/CR45LOXVEAADG5E.jpg" alt="Vortex" />
            </div>
        </div>
        <div class="flex items-center flex-wrap mb-20">
            <div class="w-full md:w-1/2">
                <img class="rounded-lg" src="https://www.thesun.co.uk/wp-content/uploads/2019/06/SWJFO-EAPlay-08-1.jpg"
                    alt="use the force" />
            </div>
            <div class="w-full md:w-1/2 pl-10">
                <h4 class="text-3xl text-gray-800 font-bold mb-3">Use the Force!</h4>
                <p class="text-gray-600 mb-8">We'll never get it out now. So certain are you. Always with you it cannot
                    be done. Hear you nothing that I say? Master, moving stones around is one thing. This is totally
                    different. No! No different!</p>
            </div>
        </div>
        <div class="flex items-center flex-wrap mb-20">
            <div class="w-full md:w-1/2 pr-10">
                <h4 class="text-3xl text-gray-800 font-bold mb-3">Life creates it</h4>
                <p class="text-gray-600 mb-8">There is no try. I can't. It's too big. Size matters not. Look at me.
                    Judge me by my size, do you? Hm? Mmmm. And well you should not. For my ally in the Force. And a
                    powerful ally it is.</p>
            </div>
            <div class="w-full md:w-1/2">
                <img class="rounded-lg"
                    src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Ferikkain%2Ffiles%2F2018%2F01%2FRey-Luke.jpg"
                    alt="Syncing" />
            </div>
        </div>
    </section> -->

    <!--Footer-->
    <footer class="bg-gray-100">
        <div class="container mx-auto px-6 pt-10 pb-6">
            <div class="flex flex-wrap">
                <div class="w-full md:w-1/4 text-center md:text-left ">
                    <h5 class="uppercase mb-6 font-bold">Links</h5>
                    <ul class="mb-4">
                        <li class="mt-2">
                            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">I'll return</a>
                        </li>
                        <li class="mt-2">
                            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">I promise</a>
                        </li>
                        <li class="mt-2">
                            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Reckless is he</a>
                        </li>
                    </ul>
                </div>
                <div class="w-full md:w-1/4 text-center md:text-left ">
                    <h5 class="uppercase mb-6 font-bold">Legal</h5>
                    <ul class="mb-4">
                        <li class="mt-2">
                            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Emperor's Terms</a>
                        </li>
                        <li class="mt-2">
                            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Pulverized?</a>
                        </li>
                    </ul>
                </div>
                <div class="w-full md:w-1/4 text-center md:text-left ">
                    <h5 class="uppercase mb-6 font-bold">Social</h5>
                    <ul class="mb-4">
                        <li class="mt-2">
                            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Corellia</a>
                        </li>
                        <li class="mt-2">
                            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Bilbringi</a>
                        </li>
                        <li class="mt-2">
                            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Fondor</a>
                        </li>
                    </ul>
                </div>
                <div class="w-full md:w-1/4 text-center md:text-left ">
                    <h5 class="uppercase mb-6 font-bold">Through the Force</h5>
                    <ul class="mb-4">
                        <li class="mt-2">
                            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Journey to the
                                Emperor</a>
                        </li>
                        <li class="mt-2">
                            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">Lord Vader ship
                                approaching?</a>
                        </li>
                        <li class="mt-2">
                            <a href="#" class="hover:underline text-gray-600 hover:text-orange-500">X-wing class</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>