.move-boxes {
    margin: 0 auto;
}

.move-boxes h2 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.move-boxes h2 span {
    color: #e56a5a;
}

.move-boxes .drag img {
    height: 95px;
    width: 95px;
}
.move-boxes .drag {
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    -ms-transition: background-color 0.25s ease-in;
    -o-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.move-boxes .drag:last-of-type {
    margin-right: 5px;
}

.move-boxes .drag:hover {
    background-color: #f94b3473;
}

#dropIt {
    background: #5eced221;
    border: dashed 3px #6e41338c;
    border-radius: 5px;
    margin: 0 auto;
    padding-top: 5px;
    width: 110px;
    height: 110px;
}

#holder {
    border-radius: 5px;
    margin: 0 auto;
    padding-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.3rem;
    justify-content: center;
}



/* plaly */
.video-play-button {
    
    left: 50%;
    z-index: 10;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
    pointer-events: none;
    user-select: none;
  }
  
  .video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #ba1f24;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
  }
  
  .video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #fa183d;
    border-radius: 50%;
    transition: all 200ms;
  }
  
  .video-play-button:hover:after {
    background-color: darken(#fa183d, 10%);
  }
  
  .video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
  }
  
  .video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #fff;
      border-top: 22px solid transparent;
      border-bottom: 22px solid transparent;
  }
  
  @keyframes pulse-border {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }


  .container_border {
    background: linear-gradient(170.37deg, #A3E8FF 39.58%, #5AD0F2 93.33%);
    overflow: hidden;
    border-radius: 80px;
    padding: 1rem;
    border: solid 1px #ffffff17;
    box-shadow: 0px 6px 19.4px rgba(0, 0, 0, 0.24);
  }
  
  .container_border_content {
    border-radius: 60px;
    background: linear-gradient(170.37deg, #139EEE 39.58%, #0F63BE 93.33%);
    box-shadow: inset  0px 6px 10px rgba(0, 0, 0, 0.24);
  }