<!-- Botón para abrir el modal -->
<button class="button_assigment" (click)="openModal()">Asignar pacientes</button>

<!-- Modal -->
<div class="modal-overlay" *ngIf="isModalOpen">
  <div class="modal">
    <div class="modal-header">
      <h2>Título del Modal</h2>
      <button (click)="closeModal()" class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      <div nft-auctions-table [data]="data" [isAssignmentUser]="true" class="md:col-span-4 xl:col-span-4 w-full"></div>
    </div>
    <div class="modal-footer">
      <button (click)="closeModal()">Cerrar</button>
    </div>
  </div>
</div>