<div class="h-screen w-screen overflow-hidden box-content bg-cyan-300">
    <div class="flex box-content overflow-y-hidden">
        <div class="flex-shrink-0 xl:w-screen h-screen">
            <img class="w-full h-screen" src="assets/images/isla1.svg" alt="Imagen 1">
        </div>
        <div class="flex-shrink-0 xl:w-screen h-screen">
            <img class="w-full h-screen" src="assets/images/isla2.svg" alt="Imagen 2">
        </div>
        <div class="flex-shrink-0 xl:w-screen h-screen">
            <img class="w-full h-screen" src="assets/images/isla3.svg" alt="Imagen 3">
        </div>
    </div>
</div>