<div class="h-screen w-screen overflow-hidden box-content bg-cyan-300">
    <div class="flex box-content overflow-y-hidden bg-gradient-to-b from-cyan-300 via-teal-200 to-emerald-400 m-0 p-0">
        
        <div class="flex-shrink-0 w-screen h-dvh">
            
            <div class="absolute z-10 flex justify-center items-center w-screen h-full">
                <img class="h-full" src="assets/images/isla1.svg" alt="" >
            </div>

            <div class="absolute w-screen bottom-0 z-0 overflow-hidden">
                <img class="w-full min-w-[1300px]" src="assets/images/isla1_bottom.svg" alt="">
            </div>

        </div>

        <div class="flex-shrink-0 w-screen h-dvh">
            
            <div class="absolute z-10 flex justify-center items-center w-screen h-full">
                <img class="h-full" src="assets/images/isla1.svg" alt="" >
            </div>

            <div class="absolute w-screen bottom-0 z-0 overflow-hidden">
                <img class="w-full min-w-[1300px]" src="assets/images/isla1_bottom.svg" alt="">
            </div>

        </div>

        
    </div>
    
    <!-- Clouds -->
    <div class="absolute top-0 z-0 w-screen overflow-hidden">
        <img class="w-full min-w-[1300px]" src="assets/images/clouds.svg" alt="">
    </div>


</div>